/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/*------*/
/* Base */
/*------*/

body {
	margin:0;
	background-color:#222;
	font-family: 'Noto Serif', serif;
}
#wrapper {
	position:relative;
	z-index:1;
	margin: 0 auto;
	width: 1024px;
	height: 700px; 
	overflow: hidden;
	color: #666;
}

/*--------*/
/* Global */
/*--------*/	

div[data-role="button"],
img[data-role="button"],
map[data-role="button"],
area[data-role="button"],
img[data-role="graphic"],
img[data-role="background"],
div[data-role="template"],
p[data-role="label"],
div[data-role="container"] {
	position:absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

div[data-role="button"],
area[data-role="button"],
map[data-role="button"],
button[data-role="button"],
p[data-role="button"],
h3[data-role="button"],
img[data-role="button"] {
	cursor: pointer;
}

a img {border: none; } /* IE fix */


h2 {
	
	color: rgb(116, 164, 52);
	font-size: 30px;
	letter-spacing: 1.5px;
	
}

h3 {
	
	font-family: 'Open Sans', serif;
	color: rgb(116, 164, 52);
	font-size: 14px;
	
}

p {
	
	font-family: 'Open Sans', serif;
	color: rgb(150,150,150);
	font-size: 16px;
	
}

textarea {
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.flipH {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.flipV {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.emptyButton {
	background: transparent;
    border: none !important;
    font-size:0;
}
.fullbleed {
	
	width: 1024px;
	height: 700px;
	
}
.overlay_bg {
	background: url("../img/gray_alpha_50.png") repeat;
}

.overlay_bg_white {
	background: url("../img/white_alpha_40.png") repeat;
}

/*Rect Buttons*/
button.rect-button {
	
	color: #FFF;
	font-size: 14px;
	font-family:inherit;
	letter-spacing: 2px;
	font-weight: 400;

}
button.rect-button {
	
	-moz-box-shadow:inset 0px 0px 0px 1px #a6c55f;
	-webkit-box-shadow:inset 0px 0px 0px 1px #a6c55f;
	box-shadow:inset 0px 0px 0px 1px #a6c55f;
	background-color:#78a500;
	border:7px solid #78a500;
	display:inline-block;
	padding:6px 12px;
	
}
button.rect-button:hover {
	background-color:#587d00;
}
button.rect-button:active {
	position:relative;
	top:1px;
}
button.rect-button:after {
	margin-left: 14px;
	margin-right: 0px;
	vertical-align: middle;
}
/*Add corresponding icons to buttons that have non-empty media attributes*/
button.rect-button:not([data-video=""])[data-video]:after {
	content: url("../img/icon_video.png");
}
button.rect-button:not([data-audio=""])[data-audio]:after {
	content: url("../img/icon_audio.png");
}
button.rect-button:not([data-quiz=""])[data-quiz]:after {
	content: url("../img/icon_question.png");
}
button.rect-button.next:after {
	content: url("../img/icon_next.png");
}
button.rect-button.prev:before {
	content: url("../img/icon_prev.png");
}



/*--------*/
/* CSS FX */
/*--------*/	
.circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
}
.pill-text {
	background: #27300c; 
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px; 
    border-radius: 30px 30px 30px 30px;
    display:inline-block;
    padding:1px 14px;
}
.tooltips {
  position: relative;
  display: inline;
}
.tooltips span {
  position: absolute;
  width:255px;
  color: #555555;
  background: #FFFFFF;
  height: auto;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 1px 4px #333;
  
  opacity: 1;
  top: 30px;
  left: 50%;
  margin-left: -76px;
}
.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 0px;
	
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 12px solid #555555;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  
}
.soft-shadow {
	
	-webkit-box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.4);
	
}
.paper-curl {
	position: relative;
	padding: 50px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2);
	z-index: 0;
	
}
.paper-curl:before, .paper-curl:after {
	position: absolute;
	width: 40%;
	height: 30px;
	content: ' ';
	left: 10px;
	bottom: 17px;
	background: transparent;
	-webkit-transform: skew(-4deg) rotate(-4deg);
	-moz-transform: skew(-4deg) rotate(-4deg);
	-ms-transform: skew(-4deg) rotate(-4deg);
	-o-transform: skew(-4deg) rotate(-4deg);
	transform: skew(-4deg) rotate(-4deg);
	-webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	z-index: -1;
} 
.paper-curl:after {
	left: auto;
	right: 10px;
	-webkit-transform: skew(4deg) rotate(4deg);
	-moz-transform: skew(4deg) rotate(4deg);
	-ms-transform: skew(4deg) rotate(4deg);
	-o-transform: skew(4deg) rotate(4deg);
	transform: skew(4deg) rotate(4deg);
}
.portrait-label {

	text-align: center;
	
}
.portrait-label p span {

	position: relative;
	color: #FFF;
	background-color:#444;
	top: -30px;
	padding: 0 10px;
	
}
.portrait-label .circle-portrait img {

	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;

	background-color:#444;
	border:3px solid #444;
	
}
.portrait-label.on .circle-portrait img {
	
	background-color:#4d8b85;
	border:3px solid #4d8b85;

}
.portrait-label.on p span {
	background-color:#4d8b85;
}
.portrait-label.active .circle-portrait img {
	
/*	-webkit-box-shadow: 0px 0px 20px 5px #e5c694;
	-moz-box-shadow: 0px 0px 20px 5px #e5c694;
	box-shadow: 0px 0px 20px 5px #e5c694;*/
	
}
.canvas-ring {

	position: absolute;
	/*left: 22px;
	top: -7px;*/
	left: 17px;
	top: -13px;
	z-index: 0;
	
}

/*-----------*/
/* Main Menu */
/*-----------*/	
#screen_mainmenu {
	
}
#screen_mainmenu #menu_container {
	
	position: relative;
	text-align: left;
	top: 154px;
	left: 115px;
	width: 370px;
	
}
#screen_mainmenu h1 {
	color: #664524;
	font-size: 28px;
	font-weight: 500;
	margin: 10px 0px 5px 0px;
	line-height: 34px;
	
}
#screen_mainmenu  h2 {
	color: #39230c;
	font-size: 17px;
	line-height: 24px;
	font-style: italic;
	font-weight: 100;
	margin: 0px 0px 10px 0px;
		
}
#screen_mainmenu #menu_container p {
	color: #2f8890;
	font-style: italic;
	margin: 0px;
}

#screen_mainmenu .rect-button {
	width: 350px;
	margin-bottom: 10px;
}
#screen_mainmenu button.rect-button {
	
	-moz-box-shadow:inset 0px 0px 0px 1px #fff;
	-webkit-box-shadow:inset 0px 0px 0px 1px #fff;
	box-shadow:inset 0px 0px 0px 1px #fff;
	background-color:#b38d40;
	border:5px solid #b38d40;

}
#screen_mainmenu button.rect-button:hover {
	background-color:#7d5e00;
}
#screen_mainmenu button.rect-button:active {
	position:relative;
	top:1px;
}
#screen_mainmenu button.rect-button.visited {
	border:7px solid #7d5e00;
	background-color:#7d5e00;
}

#screen_mainmenu #photo_stack_1 {
	
	top: 215px;
	left: 630px;
	
}

#screen_mainmenu .photo_stack img {
	
	-moz-box-shadow:inset 0px 0px 0px 1px #fff;
	-webkit-box-shadow:inset 0px 0px 0px 1px #fff;
	box-shadow:inset 0px 0px 0px 1px #fff;
	background-color:#fff;
	border: 28px solid #fff;
	
	-webkit-box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.2);
	
	position: absolute;

}

#screen_mainmenu #learnmore_overlay {
	top: 0px;
}

#screen_mainmenu #learnmore_display {
	
	top: 100px;
	left: 115px;
	width: 800px;
	height: 485px;
	background: white;
	
}

#screen_mainmenu #learnmore_content {
	
	margin: 50px;
	width: 700px;
	
}

#screen_mainmenu #learnmore_display #long_descrip {
	color: #39230c;
	font-style: normal;
	margin-top: 10px;
	font-weight: 200;
}
#screen_mainmenu #learnmore_display #credits {
	color: #39230c;
}

#screen_mainmenu #learnmore_display p {
	color: #2f8890;
	font-style: italic;
	margin: 0px;
}

#screen_mainmenu #learnmore_close {
	right: 10px;
	bottom: 0px;
	position: absolute;
	margin-right: 10px;
}


/*------------*/
/* Touchstone */
/*------------*/	

#screen_touchstone #header_bar {
	height: 50px;
	z-index: 1;
}

#screen_touchstone #header_bar h1,
#screen_touchstone #header_bar h2,
#screen_touchstone #header_bar h3,
#screen_touchstone #header_bar p {
	color:  #c4d98e;
	margin: 0px;
}

#screen_touchstone #header_bar #header_title {
	
	position: absolute;
	float: left;
	margin: 6px 0 0 45px;
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1.85px;	
	
}

#screen_touchstone {
	
	background-image: url("../img/touchstone/touchstone_bg_tile.png");
	background-repeat: repeat-x;
	background-position-y: 31px;

}

#screen_touchstone #header_bar #center_leaf {

	left: 464px;
	top: -59px;
	pointer-events:none;
		
}

#timeline_nav {
	
	left: 582px;
	position: relative;
		
}

#screen_touchstone .circle-text {
	
	position: relative;
	float: left;
	width: 23px;
	height: 23px;
	margin: 0 5px;
	top: 8px;
	
}

#screen_touchstone .circle-text:after {
    background: #27300c;
}

#screen_touchstone #header_bar .circle-text:hover:after {
    background: #d9eca6;
}

#screen_touchstone .circle-text div {
	
	position: absolute;
	color: #c4d98e;

}

#screen_touchstone #header_bar .nav-active:after {
    background: #d9eca6;
}

#screen_touchstone #header_bar .nav-active div {
    color: #2e3a14;
}

#screen_touchstone #header_bar .circle-text:hover div {
	color: #2e3a14;
}

#screen_touchstone #header_bar .pill-text:hover {
    background: #d9eca6;
    color: #2e3a14;
}

#screen_touchstone #header_bar #goto_mainmenu {
	left: 721px;
	top: 8px;
}

#screen_touchstone #header_bar #btn_resources {
	left: 847px;
	top: 8px;
}

#screen_touchstone #header_bar #btn_tips {
	position: absolute;
	left: 961px;
	font-family: 'Open Sans', serif;
	font-weight: bold;
}

#screen_touchstone .circle-text-ring:after {
	background: #d9eca6;
/*	border: 1px solid #2e3a14;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:        border-box;*/
}

#screen_touchstone .circle-text-ring div {
	color: #2e3a14;
}

#screen_touchstone .quiz-container textarea {

	resize: none;
	width: 326px;
	height: 74px;
	border:7px solid #4d8b85;

    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    margin: 5px;

}

#screen_touchstone .quiz-container #feedback_text {
	
	background-color: #4d8b85;
	text-align: left;
	
	width: 326px;
	height: 76px;
	padding: 6px;
	margin: 5px;
	position: absolute;
	left: 25px;
	top: 80px;

}

#screen_touchstone .quiz-container #feedback_text.feedback_text {
	
	color: white;

}

#screen_touchstone #header_bar #touchstone_tip {

	left: 813px;
	top: 0px;
		
}

#screen_touchstone #header_bar #touchstone_tip.tooltips span:after {
  bottom: 17px;
  right: 0px;
	
  border-bottom: 12px solid #90a4a8;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  
}

#screen_touchstone #header_bar #touchstone_tip h2 {
	
	text-align: left;
	padding: 0px 10px;
	font-size: 12px;
	background: #90a4a8;
	color: white;
	
}
#screen_touchstone #header_bar #touchstone_tip #closex {
	color: #FFFFFF;
	right: 9px;
	bottom: 0px;
	font-size: 13px;
	position: absolute;
}
#screen_touchstone #header_bar #touchstone_tip p {

	text-align: left;
	padding: 25px 10px 10px 10px;
	background: #FFFFFF;
	color: #90a4a8;
	font-size: 14px;
	font-weight: 200;
	
}

 /*FEEDBACK BOX*/
#screen_touchstone #leaf_feedback_box {
	
	left: 240px;
	bottom: 285px;
	z-index: 1;
}

#screen_touchstone #leaf_feedback_box span {

	width: 690px;
	height: 215px;
	
}


#screen_touchstone #leaf_feedback_box.tooltips span:after {
  border: none;
}

#screen_touchstone #leaf_feedback_box h1 {
	
	text-align: left;
	font-size: 26px;
	font-weight: 400;
	padding: 0px 20px;
	margin-bottom: 0px;
	color: #4d8b85;
	
}

#screen_touchstone #leaf_feedback_box p {

	text-align: left;
	padding: 5px 20px;
	background: #FFFFFF;
	color: #000;
	font-size: 16px;
	font-weight: 200;
	margin: 0px;
	
}

#screen_touchstone #leaf_feedback_box h2 {
	
	text-align: left;
	font-size: 15px;
	padding: 5px 0px 0px 70px;
	background: #90a4a8;
	color: white;
	height: 26px;
	width: 620px;
	margin: 0px;
	bottom: 0px;
	position: absolute;
	
}

#screen_touchstone #leaf_feedback_box #closex {

	color: #FFFFFF;
	left: 50px;
	bottom: -8px;
	position: absolute;
	
}


/* FOOTER */
#screen_touchstone #footer_bar {
	
	height: 35px;
	bottom: 0px;
	background-image: url("../img/touchstone/touchstone_footer_tab.png");
	background-repeat: no-repeat;
	background-position: bottom;
	
}

#screen_touchstone #footer_bar #btn_quit_program {

	position: absolute;
	left: 871px;
	bottom: -8px;
	
}

#screen_touchstone #footer_bar #btn_quit_program h3 {
	color: #41270c;
}

#screen_touchstone #footer_bar #btn_quit_program:hover h3 {
	color: #d1c889;
}


.single_centered_col {
	
	text-align: center;
	top: 90px;
	
}

.single_centered_col #text_1 {
	
	font-size: 26px;
	font-weight: 500;
    
    border-bottom: solid 3px #DDD;
    
    /* pull the border up*/
    height: 19px; 
    
    /* push the paragraph down */
    margin-bottom: 36px;
	
}
.single_centered_col #text_1:first-line{
   background-color: #FFF;
 }
 
.single_centered_col #text_1:before,
.single_centered_col #text_1:after{
       content: '\0000a0 \0000a0'; 
   }


.single_centered_col .content_centered {
	
	width: 956px;
	padding: 0px;
	margin: 0 auto;
	
}

.single_centered_col .content_centered .inner_content {
	
	background: white;
	padding: 0 45px;
	
}

.single_centered_col .two-col {
	
	height: 240px;
	
}

.single_centered_col .two-col #text_2,
.single_centered_col .two-col #text_3 {
	
	width: 405px;
	text-align: left;
	color: #674624;
	font-weight: 200;
	float: left;
	margin: 0px;
	
}

.single_centered_col .two-col .col-right {
	
	padding-left: 50px;
	
}

.single_centered_col .two-col #circle_2 {
	
	float: right;
	margin-top: -30px;
	margin-right: 22px;
	
}

.single_centered_col .mejs-container {
	width: 480px;
}

/* - Continuum Buildings -*/
.continuum #clouds {
	top: 250px;
}

.continuum #text_1 {

	color: #3b454a;
	letter-spacing: 0.8px;
	font-weight: 500;
	font-size: 36px;
	text-align: center;
	
}

.continuum #intro_message {

	left: 266px;
	top: 70px;
	width: 500px;
	background-image: url("../img/touchstone/continuum_headline_bg.png");
	background-repeat: no-repeat;
	background-position-x: 50px;
	background-position-y: 24px;
	
}

.continuum #buildings div[data-role="button"] img {
	left: 0px;
	top: 0px;
	position: absolute;
	
}

.continuum #buildings div[data-role="button"].activated img:hover {
	/* Cross-browser opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	
}
.continuum #buildings div[data-role="button"] img:active {
	top:2px;
	
}
.continuum #buildings div[data-role="button"] {
	cursor: default;
}
.continuum #buildings div[data-role="button"].activated {
	cursor: pointer;
}

.continuum #buildings #building_1 {
	left: 63px;
	top: 378px;
}
.continuum #buildings #building_2 {
	left: 592px;
	top: 347px;
}
.continuum #buildings #building_3 {
	left: 316px;
	top: 379px;
}
.continuum #buildings #building_4 {
	left: 711px;
	top: 385px;
}
.continuum #buildings #building_5 {
	left: 183px;
	top: 352px;
}
.continuum #buildings #building_6 {
	left: 462px;
	top: 327px;
}
.continuum #buildings #building_7 {
	left: 832px;
	top: 384px;
}
.continuum #buildings #building_7 #bw {
	left: 0px;
	top: 3px;
}

.continuum #buildings #callout {
	text-align: center;
	width: 220px;
}

.continuum #buildings #callout h3 {
	color: rgba(0,0,0,0.6);
	font-family: 'Open Sans Condensed', sans;
	font-size: 19px;
}

.touchstone_steps #navigation_bar {
	
	padding-top: 50px;
	left: 30px;
	position: relative;
	background-color: rgba(145,187,43,0.66);
	height: 700px;
	
	-moz-box-shadow:inset 0px -30px 65px 35px rgba(0,0,0,.4);
	-webkit-box-shadow:inset 0px -30px 65px 35px rgba(0,0,0,.4);
	box-shadow:inset 0px -30px 65px 35px rgba(0,0,0,.4);
	
}

.touchstone_steps #step_buttons_container  {
	position: relative;	
}

.touchstone_steps #nav_panel_bg {
	
	position: absolute;
	top: 45px;
	left: -50px;
	
}

.touchstone_steps #navigation_bar #navigation_header {
	
	height: 190px;
		
}

.touchstone_steps #navigation_bar h2,
.touchstone_steps #navigation_bar p {
	margin: 0px;
	text-align: center;
	color: white;
}

.touchstone_steps #navigation_bar .portrait-label .circle-portrait img {

	background-color:#fff;
	border:3px solid #fff;

}

.touchstone_steps #navigation_bar #navigation_header .portrait-label p span {
	top: -25px;
	font-size: 13px;
	font-weight: 600;
	padding: 5px 15px;
	color: #000;
	background-color: #FFF;
}

.touchstone_steps #navigation_bar #step_buttons_container h2 {
	padding-top: 20px;
	font-style: italic;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.75px;
	
	width: 136px;
	margin: 0 auto;
	
}

.touchstone_steps #navigation_bar #step_buttons_container .stepBtn {
	
	width: 200px;
	height: 80px;
	position: relative;
	border-bottom: 1px solid #fff;
	
}

.touchstone_steps #navigation_bar #step_buttons_container .stepBtn:first-child {
	border-top: 1px solid #fff;
}

.touchstone_steps #navigation_bar #step_buttons_container .stepBtn:hover {
	
	background-color: rgba(0,0,0,0.2);
	
}

.touchstone_steps #navigation_bar #step_buttons_container .stepBtn.active {
	
	-moz-box-shadow:inset 0px 0px 65px 10px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0px 0px 65px 10px rgba(0,0,0,.5);
	box-shadow:inset 0px 0px 65px 10px rgba(0,0,0,.5);
		
}

/*.touchstone_steps #navigation_bar #step_buttons_container .stepBtn.active h2{
	font-size: 16px;
	width: 180px;
	padding-top: 20px;
}*/

.touchstone_steps #navigation_bar img[data-role="background"] {

	top: 0px;
	left: 0px;
	
}

.touchstone_steps #bubble_tank_container {
	
	top: 350px;
	left: 600px;

}

.touchstone_steps img[data-role="background"]  {
	
	top: -100px;
	left: -65px;

}

.touchstone_steps #stepBtnContainer {
	
	top: 100px;
	
}

.bubble {

	width: 300px;
	text-align: center;
	
}

.bubble img {

	left: -145px;
	top: -145px;
	
}

#screen_touchstone .bubble .bubTitle {

	text-align: center;
	position: relative;
	left: -149px;
	top: -43px;
	color: white;
	font-weight: 100;
	
}

#screen_touchstone #step_content {
	
	left: 0px;
	top: 0px;
	
}

#screen_touchstone #step_content #oval_backgrounds {
	z-index: -1;
}

#screen_touchstone #step_content #oval_backgrounds img {	

	left: 0px;
	top: 0px;
	
}

#screen_touchstone #step_content h1 {
	position: absolute;
	left: 360px;
	top: 75px;
	color: #FFF;
	font-weight: 100;
	font-size: 26px;
	width: 300px;
	text-align: center;
	
}

#screen_touchstone #step_content #btn_feature_close {
	
	left: 797px;
	top: 131px;
	width: 36px;
	height: 36px;
	
}

#screen_touchstone #step_content #btn_feature_close.circle-text:after {

	background: #674624; 
	
}

#screen_touchstone #step_content #btn_feature_close.circle-text div {
	
	left: 9px;
	content: url("../img/icon_x.png");
	width: auto;
	
}


#screen_touchstone #step_content #role_Jenna {
	top: 497px;
	left: 444px;
}

#screen_touchstone #step_content #role_Jenna p {
	font-size: 16px;
	margin-top: 10px;
}

#screen_touchstone #step_content #personnel_layer{
	left: -25px;
}
#screen_touchstone #step_content .personnel {
	position: absolute;
	
}
#screen_touchstone #step_content .personnel.active {
	cursor: pointer;
}
#screen_touchstone #step_content .personnel.active:hover img {
	background-color:#ccc;
	border-color: #fff;
}

#screen_touchstone #step_content #personnel_layer .row1 {
	top: 115px;
}
#screen_touchstone #step_content #personnel_layer .row2 {
	top: 192px;
}
#screen_touchstone #step_content #personnel_layer .row3 {
	top: 304px;
}
#screen_touchstone #step_content #personnel_layer .row4 {
	top: 422px;
}
#screen_touchstone #step_content #personnel_layer .row5 {
	top: 501px;
}

#screen_touchstone #step_content #personnel_layer .col1 {
	left: 75px;
}
#screen_touchstone #step_content #personnel_layer .col2 {
	left: 136px;
}
#screen_touchstone #step_content #personnel_layer .col3 {
	left: 232px;
}
#screen_touchstone #step_content #personnel_layer .col4 {
	left: 668px;
}
#screen_touchstone #step_content #personnel_layer .col5 {
	left: 770px;
}
#screen_touchstone #step_content #personnel_layer .col6 {
	left: 828px;
}

#screen_touchstone #step_content #speech_tri {
	position: absolute;
}
#screen_touchstone #step_content #speech_bubble {
	position: absolute;
	left: 243px;
	top: 183px;
}

#screen_touchstone #step_content .portrait-label p {

	font-family: 'Noto Serif', serif;
	font-size: 12px;
	font-style: italic;
	padding: 0 25px;
	width: 120px;
	
}

#screen_touchstone #step_content #center_oval {
	
	text-align: center;
	top: 240px;
	/*left: 310px;*/
	/*width: 400px;*/
	left: 283px;
	width: 460px;
	height: 280px;
	
}

#screen_touchstone #step_content #center_oval .rect-button {

	width: 350px;
	
}
#screen_touchstone #step_content #center_oval button.rect-button {
	
	-moz-box-shadow:inset 0px 0px 0px 1px #fff;
	-webkit-box-shadow:inset 0px 0px 0px 1px #fff;
	box-shadow:inset 0px 0px 0px 1px #fff;
	background-color:#4d8b85;
	border:7px solid #4d8b85;

}
#screen_touchstone #step_content #center_oval button.rect-button:hover {
	background-color:#2a645e;
}
#screen_touchstone #step_content #center_oval button.rect-button:active {
	position:relative;
	top:1px;
}
#screen_touchstone #step_content #center_oval button.rect-button.visited {
	border:7px solid #2a645e;
	background-color:#2a645e;
}

#screen_touchstone #step_content #center_oval h3 {
	
	color: #4d8b85;
	font-size: 20px;
	margin: 0px;
	
}


#screen_touchstone #step_content #center_oval p {
	
	color: #000;
	margin: 5px;
	font-size: 14px;

}

#screen_touchstone #step_content #center_oval #description {

	overflow-y: scroll;
	height: 207px;
	padding-right: 30px;
	padding-left: 30px;

}





/*--------------*/
/* Video Player */
/*--------------*/
#vid_player_overlay .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: linear-gradient(rgba(120,168,53,0.8), rgba(48,64,30,0.8));
}

#vid_player_overlay {
	z-index: 2;
}

#vid_player_overlay #player_container {
	
	position: absolute;
	top: 150px;
	left: 200px;
	background: #fff;
	padding: 10px 10px 0px 10px;
	
}

#vid_player_overlay #player_container h3{
	
	margin: 10px 0px;
	padding: 0px;
	font-size: 16px;
	color: #777777;
	
}

#vid_player_overlay #player_container h3 span{
	
	font-size: 20px;
	
}

#vid_player_overlay #player_container #video_title {
	width: 65%;
	left: 0px;
	float: left;
}

#vid_player_overlay #player_container #player_close {
	right: 0px;
	position: absolute;
	margin-right: 10px;
}

.vid_circle_mask {
	
	-webkit-mask: url("../img/vid_circle_mask.png") no-repeat;
	-webkit-mask-position: 140px 0px;
	
}

/* Load Spinner Overlay */
#spinnerOverlayContainer{
	text-align: center;
}
#spinnerOverlayContainer #loadingSpinner {

	top:286px;
	left:461px;
	
}
