/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/*------*/
/* Base */
/*------*/

body {
	margin:0;
	background-color:#AAA;
	font-family: 'Noto Serif', serif;
}

#wrapper {
	position:relative;
	z-index:1;
	margin:auto;
	width: 1024px;
	height: 700px; 
	/*height: 672px; /* iPad resolution without safari/ios bars *!/*/
	overflow: hidden;
	color: #666;
}

/*--------*/
/* Global */
/*--------*/	

div[data-role="button"],
img[data-role="button"],
map[data-role="button"],
area[data-role="button"],
img[data-role="graphic"],
img[data-role="background"],
div[data-role="template"],
p[data-role="label"],
div[data-role="container"] {
	position:absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

div[data-role="button"],
area[data-role="button"],
map[data-role="button"],
p[data-role="button"],
img[data-role="button"] {
	cursor: pointer;
}

a img {border: none; } /* IE fix */

.flipH {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.flipV {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.emptyButton {
	background: transparent;
    border: none !important;
    font-size:0;
}
.fullbleed {
	
	width: 1024px;
	height: 700px;
	
}
.circle-text {
    width:50%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
}
.pill-text {
	background: #27300c; 
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px; 
    border-radius: 30px 30px 30px 30px;
    display:inline-block;
    padding:1px 14px;
}
.tooltips {
  position: relative;
  display: inline;
}
.tooltips span {
  position: absolute;
  width:255px;
  color: #FFFFFF;
  background: #7EA901;
  height: auto;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 1px 4px #333;
  
  opacity: 1;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 99%;
  right: 1px;
	
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 13px solid #7EA901;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
}


/*-----------*/
/* Main Menu */
/*-----------*/	
#screen_mainmenu {
	
}
#screen_mainmenu #menu_container {
	
	position: relative;
	text-align: center;
	top: 100px;
	
}
#screen_mainmenu #menu_container p:hover {
	
	color: white;
	
}


/*------------*/
/* Touchstone */
/*------------*/	

#screen_touchstone h2 {
	
	color: rgb(116, 164, 52);
	font-size: 30px;
	
}

#screen_touchstone h3 {
	
	font-family: 'Open Sans', serif;
	color: rgb(116, 164, 52);
	font-size: 14px;
	
}

#screen_touchstone p {
	
	font-family: 'Open Sans', serif;
	color: rgb(150,150,150);
	font-size: 11px;
	
}

#screen_touchstone #header_bar {
	
	background-image: url("../img/touchstone/nav_header_bg.png");
	background-repeat: repeat-x;
	height: 40px;
	
}

#screen_touchstone #header_bar h1,
#screen_touchstone #header_bar h2,
#screen_touchstone #header_bar h3,
#screen_touchstone #header_bar p {
	color:  #c4d98e;
	margin: 0px;
}

#screen_touchstone #header_bar #header_title {
	
	float: left;
	margin: 6px 0 0 65px;
	font-size: 20px;
	letter-spacing: 1.75px;	
	
}

#screen_touchstone {
	
	background-image: url("../img/touchstone/touchstone_bg1.jpg");
	background-repeat: repeat-x;
	background-position-y: 39px;

}

#screen_touchstone #header_bar #center_leaf {

	left: 500px;
	top: -59px;
		
}

#timeline_nav {
	
	left: 210px;
	position: relative;
		
}

#screen_touchstone #header_bar .circle-text {
	
	position: relative;
	float: left;
	width: 23px;
	height: 23px;
	margin: 0 5px;
	top: 8px;
	
}

#screen_touchstone #header_bar .circle-text:after {
    background: #27300c;
}

#screen_touchstone #header_bar .circle-text:hover:after {
    background: #d9eca6;
}

#screen_touchstone #header_bar .circle-text div {
	
	position: absolute;
	color: #c4d98e;

}

#screen_touchstone #header_bar .circle-text:hover div {
	color: #2e3a14;
}

#screen_touchstone #header_bar .pill-text:hover {
    background: #d9eca6;
    color: #2e3a14;
}

#screen_touchstone #header_bar #goto_mainmenu {
	left: 756px;
	top: 8px;
}

#screen_touchstone #header_bar #btn_resources {
	left: 875px;
	top: 8px;
}

#screen_touchstone #header_bar #btn_tips {
	position: absolute;
	left: 986px;
	font-family: 'Open Sans', serif;
	font-weight: bold;
}

#screen_touchstone #header_bar #touchstone_tip {

	left: 837px;
	top: 21px;
		
}

#screen_touchstone #header_bar #touchstone_tip h2 {
	
	text-align: left;
	padding: 3px 10px;
	margin: 0px;
	font-size: 14px;
	color: white;
	
}
#screen_touchstone #header_bar #touchstone_tip p {

	text-align: left;
	padding: 7px 10px 9px 10px;
	background: #e8f5c6;
	color: #707f49;
	font-weight: 600;
	
}


.single_centered_col {
	
	text-align: center;
	top: 80px;
	
}

.single_centered_col .content_centered {
	
	width: 480px;
	margin: 0 auto;
	
}

.single_centered_col .mejs-container {
	width: 480px;
}

.touchstone_steps #navigation_bar {
	
	padding-top: 50px;
	padding-left:  72px;
	position: relative;
	
}

.touchstone_steps #step_buttons_container  {
	position: relative;	
}

.touchstone_steps #nav_panel_bg {
	
	position: absolute;
	top: 0px;
	left: 0px;
	
}

.touchstone_steps #nav_panel_bg {
	
	position: absolute;
	top: 0px;
	left: 0px;
	
}

.touchstone_steps .banner_portrait {

	text-align: center;
	
}

.touchstone_steps .banner_portrait p {

	position: relative;
	color: red;
	top: -25px;
	
}

.touchstone_steps #navigation_bar #navigation_header {
	
	height: 190px;
		
}

.touchstone_steps #navigation_bar h3,
.touchstone_steps #navigation_bar p {
	margin: 0px;
	text-align: center;
	color: white;
}

.touchstone_steps #navigation_bar #step_buttons_container h3 {
	padding-top: 20px;
}

.touchstone_steps #navigation_bar #step_buttons_container p {
	font-style: italic;
}

.touchstone_steps #navigation_bar #step_buttons_container .stepBtn {
	
	width: 200px;
	height: 80px;
	position: relative;
	border: 1px solid #ccc;
	background-image: url("../img/touchstone/nav_btn.png");
	
}

.touchstone_steps #navigation_bar #step_buttons_container .stepBtn:hover {
	
	background-color: rgb(50,100,125);
	
}

.touchstone_steps #navigation_bar img[data-role="background"] {
	top: 0px;
	left: 0px;
}

.touchstone_steps #bubbles_container {
	
	top: 0px;
	left: 400px;
	
}

.touchstone_steps #stepBtnContainer {
	
	top: 100px;
	
}

.bubble {

	width: 300px;
	height: 300px;
	text-align: center;
	
}

.bubble img {
	
	left: -145px;
	top: -145px;
	
}

#screen_touchstone .bubble .bubTitle {

	text-align: center;
	position: relative;
	left: -149px;
	top: -43px;
	color: white;
	font-weight: 100;
	
}


/*--------------*/
/* Video Player */
/*--------------*/
#screen_touchstone .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: linear-gradient(rgba(120,168,53,0.8), rgba(48,64,30,0.8));
}

#vid_player_overlay {
	
}

#vid_player_overlay #player_container {
	
	position: absolute;
	top: 150px;
	left: 200px;
	
}

.vid_circle_mask {
	
	-webkit-mask: url("../img/vid_circle_mask.png") no-repeat;
	-webkit-mask-position: 140px 0px;
	
}

/* Load Spinner Overlay */
#spinnerOverlayContainer{
	text-align: center;
}
#spinnerOverlayContainer #loadingSpinner {

	top:286px;
	left:461px;
	
}
