/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/*------*/
/* Base */
/*------*/

body {
	margin:0;
	background-color:#AAA;
	font-family: 'Noto Serif', serif;
}

#wrapper {
	position:relative;
	z-index:1;
	margin:auto;
	width: 1024px;
	height: 700px; 
	/*height: 672px; /* iPad resolution without safari/ios bars *!/*/
	overflow: hidden;
	color: #666;
}

/*--------*/
/* Global */
/*--------*/	

div[data-role="button"],
img[data-role="button"],
map[data-role="button"],
area[data-role="button"],
img[data-role="graphic"],
img[data-role="background"],
div[data-role="template"],
p[data-role="label"],
div[data-role="container"] {
	position:absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

div[data-role="button"],
area[data-role="button"],
map[data-role="button"],
img[data-role="button"] {
	cursor: pointer;
}

a img {border: none; } /* IE fix */

.flipH {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.flipV {
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.emptyButton {
	background: transparent;
    border: none !important;
    font-size:0;
}
.fullbleed {
	
	width: 1024px;
	height: 700px;
	
}
.overlay_bg {
	
	background-color: rgba(0, 0, 0, 0.7);
	width: 1024px;
	height: 700px;
	
}


/*-----------*/
/* Main Menu */
/*-----------*/	
#screen_mainmenu {
	
	background: 0#ffa;
	
}
#screen_mainmenu div {
	
	position: relative;
	top: 200px;
	
}
#screen_mainmenu div:hover {
	
	color: yellow;
	
}


/*------------*/
/* Touchstone */
/*------------*/	

#screen_touchstone h2 {
	
	color: rgb(116, 164, 52);
	font-size: 30px;
	
}

#screen_touchstone h3 {
	
	font-family: 'Open Sans', serif;
	color: rgb(116, 164, 52);
	font-size: 14px;
	
}

#screen_touchstone p {
	
	font-family: 'Open Sans', serif;
	color: rgb(150,150,150);
	font-size: 11px;
	
}

#screen_touchstone #header_bar {
	
	background-image: url("../img/tstone/header_bg_tile.jpg");
	background-repeat: repeat-x;
	height: 40px;
	
}

#screen_touchstone {
	
	background-image: url("../img/tstone/touchstone_bg1.jpg");
	background-repeat: repeat-x;
	background-position-y: 39px;

}

#timeline_nav {
	
	left: 600px;
	
}

#timeline_nav div {
	
	width: 35px;
	float: left;
	
}

.single_centered_col {
	
	text-align: center;
	top: 80px;
	
}

.single_centered_col .content_centered {
	
	width: 480px;
	margin: 0 auto;
	
}

.single_centered_col .mejs-container {
	width: 480px;
}

.touchstone_steps #navigation_sidebar {
	
	padding-top: 50px;
	
}


.touchstone_steps .banner_portrait {
	text-align: center;
}

.touchstone_steps p {
	top: 180px;
	left: 50px;
}

.touchstone_steps #navigation_sidebar #step_buttons_container h3,
.touchstone_steps #navigation_sidebar #step_buttons_container p {
	margin: 0px;
	text-align: center;
}

.touchstone_steps #navigation_sidebar #step_buttons_container h3 {
	padding-top: 20px;
}

.touchstone_steps #navigation_sidebar #step_buttons_container p {
	font-style: italic;
}

.touchstone_steps #navigation_sidebar #step_buttons_container .stepBtn {
	
	background-color: blue;
	width: 200px;
	height: 80px;
	position: relative;
	border: 1px solid #ccc;
	
}

.touchstone_steps #bubbles_container {
	
	top: 0px;
	left: 250px;
	
}

.touchstone_steps #stepBtnContainer {
	
	top: 100px;
	
}

.bubble {

	width: 300px;
	height: 300px;
	text-align: center;
	
}

.bubble img {
	
	left: -145px;
	top: -145px;
	
}

.bubble .bubTitle {

	text-align: center;
	position: relative;
	left: -149px;
	top: -23px;
	
}


/*--------------*/
/* Video Player */
/*--------------*/
#screen_touchstone .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: linear-gradient(rgba(120,168,53,0.8), rgba(48,64,30,0.8));
}

#vid_player_overlay {
	
}

#vid_player_overlay #player_container {
	
	position: absolute;
	top: 150px;
	left: 200px;
	
}

.vid_circle_mask {
	
	-webkit-mask: url("../img/vid_circle_mask.png") no-repeat;
	-webkit-mask-position: 140px 0px;
	
}
