<?xml version="1.0"?>
<config>

	<settings>
		<setting id="audioFolder" value="content/audio/" />
		<setting id="audioExtension" value=".mp3" />
		
		<setting id="videoFolder" value="content/video/" />
		<setting id="videoExtension" value=".mp4" />
		
		<setting id="developerMode" value="true" />
	</settings>



	<!-- TOUCHSTONE -->
	<module id="touchstone" title="Touchstone">
	
		<!-- Screen 1 -->
		<view id="view_1" title="Intro">
			
			<text id="text_1">Welcome to Touchstone Mental Health</text>
			<text id="text_2">
				<![CDATA[<b>Recovery from mental illness and whole person wellness starts at Touchstone Mental Health where our mission is to “inspire hope, healing and well-being.”</b> We consider each person as a whole; integrating treatment, care and resources which support a healthy mind, body, and spirit. We are a point of reference guiding clients, community members and residents toward recovery and well-being. We encourage each person to define their life goals— ]]>
			</text>
			<text id="text_3">
				<![CDATA[physical, mental, emotional, spiritual, social, vocational and interpersonal – and we provide the tools so people achieve them. In this module you’ll have the chance to learn more about our team approach by engaging in an interactive case story about a [fictitious?] Touchstone resident to meet existing and emerging needs.
				<br/><br/><b>Please watch the video above and then click</b>]]>
			</text>
			
			<button id="video_1" video="M01_S02V01_D">WATCH AN INTRODUCTORY VIDEO</button>
						
		</view>
		
		<!-- Screen 2 -->
		<view id="view_2" title="Town">
			
			<text id="text_1">This Is The Second View.</text>
			
		</view>
		
		<!-- Screen 3 -->
		<view id="view_3" title="Touchstone Steps and Bubbles">
			
			<text id="text_1">Jenna's Story</text>
			
			
			<!-- TOUCHSTONE STEPS -->
			<touchstone_steps>
				<step title="Arriving at Touchstone" dimensions="Emotional, Physical" audio="SampleAudio">
				
					<text id="step_description"><![CDATA[Jenna is happy that her case manager found Touchstone for her where there are a number of people who work together to support her with managing her illnesses as well as day-to-day living such as meals and housekeeping. In the first few days of being at Touchstone, each person working with Jenna introduced him or herself. They talked to her about how she is an important member of the Touchstone team and that they are going to work together so that she can maintain her independence and wellness.]]>
					</text>
				
					<personnel role="Trainer" audio="SampleAudio" duration="42"></personnel>
					<personnel role="Doctor" audio="SampleAudio2" duration="20"></personnel>
					<personnel role="Therapist" audio="SampleAudio" duration="42"></personnel>
					<personnel role="Instructor" audio="SampleAudio2" duration="20"></personnel>
					
					<review>
						<button id="video_review" video="M01_S02V01_D">HERE'S WHAT I WOULD ASK</button>
						<button id="audio_review" audio="SampleAudio2">IN MY ROLE</button>
						<button id="quiz_review" quiz="quiz_1">WHAT WOULD YOU DO</button>
					</review>
					
					<quiz id="quiz_1">
						<QA title="Question 1" question="How might things have turned out differently if the nurse had not contacted the pharmacist?" feedback="Lorem ipsum, here is some feedback."/> 
						<QA title="Question 2" question="Lorem ipsum this will be question number two of three. What is your answer?" feedback="Lorem ipsum, here is some feedback in response to question two."/> 
						<QA title="Question 3" question="Lorem ipsum this will be question number three of three. What is your answer?" feedback="Lorem ipsum, here is some feedback for question three."/> 
					</quiz>

				</step>
				
				<step title="Receiving a Cancer Diagonosis" dimensions="Occupational" audio="SampleAudio">
				
					<text id="step_description"><![CDATA[DESCRIPTION OF STEP TWO.  Lorem Ipsum her where there are a number of people who work together to support her with managing her illnesses as well as day-to-day living such as meals and housekeeping. In the first few days of being at Touchstone, each person working with Jenna introduced him or herself. They talked to her about how she is an important member of the Touchstone team and that they are going to work together so that she can maintain her independence and wellness.]]>
					</text>

					<personnel role="Lorem_B" audio="SampleAudio" duration="2"></personnel>
	<!--				<personnel role="Lorem_A" audio="SampleAudio2" duration="3"></personnel>
					<personnel role="Therapist" audio="SampleAudio" duration="4"></personnel>
					<personnel role="Lorem_D" audio="SampleAudio2" duration="1"></personnel>-->
					<personnel role="Lorem_C" audio="SampleAudio2" duration="1"></personnel>
					
					<review>
						<button id="quiz_review" quiz="cancer_quiz_1">WHAT WOULD YOU DO</button>
						<button id="video_review" video="M01_S02V01_D">HERE'S WHAT I WOULD ASK</button>
						<button id="quiz_review" quiz="cancer_quiz_2" feedback="Lorem ipsum... Here is some feedback based on the portion you just did. Here is some feedback based on the portion you just did. Lorem ipsum.">WHAT WOULD YOU DO</button>
						<button id="video_review" video="M01_S02V01_D">HERE'S WHAT I WOULD ASK</button>
					</review>
					
					<quiz id="cancer_quiz_1">
						<QA title="Question 1" question="This is 'Receiving a Cancer Diagonosis' question number ONE of quiz 1. What is your answer?"/> 
						<QA title="Question 2" question="And this is 'Receiving a Cancer Diagonosis' question number TWO of quiz 1. What is your answer?" feedback="Lorem ipsum, here is some feedback in response to question two."/> 
					</quiz>
					
					<quiz id="cancer_quiz_2">
						<QA title="Question 1" question="Quiz 2 question ONE?" feedback="Q 1 feedback, here is some feedback in response to your answer."/> 
						<QA title="Question 2" question="Quiz 2 question TWO?" feedback="Q 2 feedback, here is some feedback in response to your answer."/> 
						<QA title="Question 3" question="Quiz 2 question THREE?" feedback="Q 3 feedback, here is some feedback in response to your answer."/>  
						<QA title="Question 4" question="Quiz 2 question FOUR?" feedback="Q 4 feedback, here is some feedback in response to your answer."/> 
					</quiz>
	
				</step>
				
				<step title="Increasing Depression" dimensions="Social, Spiritual" audio="SampleAudio">
				
					<personnel role="Therapist" audio="SampleAudio" duration="8"></personnel>
					<personnel role="Doctor" audio="SampleAudio2" duration="3"></personnel>
					<personnel role="Instructor" audio="SampleAudio2" duration="7"></personnel>
					<personnel role="Lorem_A" audio="SampleAudio2"></personnel>
					<personnel role="Lorem_B" audio="SampleAudio2"></personnel>

				</step>
	
				<step title="Team Meeting" dimensions="Environmental" audio="SampleAudio">
				
					<personnel role="Lorem_A" audio="SampleAudio2"></personnel>
					<personnel role="Lorem_C" audio="SampleAudio2"></personnel>
					<personnel role="Lorem_F" audio="SampleAudio2"></personnel>
					<personnel role="Doctor" audio="SampleAudio"></personnel>
	
				</step>
				
				<step title="Living with Multiple Chronic Illnesses" dimensions="Financial, Social, Physical" audio="SampleAudio">
				
					<personnel role="Lorem_D" audio="SampleAudio2"></personnel>
					<personnel role="Lorem_C" audio="SampleAudio"></personnel>
					<personnel role="Instructor" audio="SampleAudio2"></personnel>
					<personnel role="Lorem_A" audio="SampleAudio"></personnel>
					
				</step>
				
				<tips>
					<tip id="touchstone_start" delay="1" duration="5">Watch the video, then click "2" on top bar to continue.</tip>
					<tip id="click_step_1" delay="4">Click the first step in the left-hand column to see the affected dimensions.</tip>
					<tip id="step_review_completed" delay="2">Congrats! The review is complete. Please click the "X" close button to return to main activity.</tip>
				</tips>
				
			</touchstone_steps>


		</view>
		
		<!-- Screen 1 -->
		<view id="view_4" title="Conclusion">
			
			<text id="text_1">In Conclusion</text>
			<text id="text_2">
				<![CDATA[<b>Recovery from mental illness and whole person wellness starts at Touchstone Mental Health where our mission is to “inspire hope, healing and well-being.”</b> We consider each person as a whole; integrating treatment, care and resources which support a healthy mind, body, and spirit. We are a point of reference guiding clients, community members and residents toward recovery and well-being. We encourage each person to define their life goals— ]]>
			</text>
			<text id="text_3">
				<![CDATA[physical, mental, emotional, spiritual, social, vocational and interpersonal – and we provide the tools so people achieve them. In this module you’ll have the chance to learn more about our team approach by engaging in an interactive case story about a [fictitious?] Touchstone resident to meet existing and emerging needs.
				<br/><br/><b>Please watch the video above and then click</b>]]>
			</text>
			
			<button id="video_1" video="M01_S02V01_D">WATCH AN CONCLUSION VIDEO</button>
						
		</view>
		
	</module>

</config>