<?xml version="1.0"?>
<config>

	<settings>
		<setting id="audioFolder" value="content/audio/" />
		<setting id="audioExtension" value=".mp3" />
		
		<setting id="videoFolder" value="content/video/" />
		<setting id="videoExtension" value=".mp4" />
		
		<setting id="developerMode" value="true" />
	</settings>



	<!-- TOUCHSTONE -->
	<module id="touchstone" title="Touchstone">
	
		<!-- Screen 1 -->
		<view id="view_1" title="Intro">
			
			<text id="text_1">Welcome to Touchstone Mental Health</text>
			<text id="text_2">
				<![CDATA[<b>Recovery from mental illness and whole person wellness starts at Touchstone Mental Health where our mission is to “inspire hope, healing and well-being.”</b> We consider each person as a whole; integrating treatment, care and resources which support a healthy mind, body, and spirit. We are a point of reference guiding clients, community members and residents toward recovery and well-being. We encourage each person to define their life goals— ]]>
			</text>
			<text id="text_3">
				<![CDATA[physical, mental, emotional, spiritual, social, vocational and interpersonal – and we provide the tools so people achieve them. In this module you’ll have the chance to learn more about our team approach by engaging in an interactive case story about a [fictitious?] Touchstone resident to meet existing and emerging needs.
				<br/><br/><b>Please watch the video above and then click</b>]]>
			</text>
			
			<button id="video_1" video="M01_S02V01_D">WATCH AN INTRODUCTORY VIDEO</button>
			
			<tip id="tip_1">Click step one in the right hand column. Make sure your audio player is working.</tip>
			
		</view>
		
		<view id="view_2" title="Town">
			
			<text id="text_1">This Is The Second View.</text>
			
		</view>
		
		<view id="view_3" title="Touchstone Steps and Bubbles">
			
			<text id="text_1">Jenna's Story</text>
			
			
			<!-- TOUCHSTONE STEPS -->
			<touchstone_steps>
				<step title="Arriving at Touchstone" dimensions="Emotional, Physical">
				
					<personnel role="Trainer" audio="SampleAudio"></personnel>
					<personnel role="Doctor" audio="SampleAudio2"></personnel>
					<personnel role="Therapist" audio="SampleAudio"></personnel>
					<personnel role="Instructor" audio="SampleAudio2"></personnel>
	
				</step>
				
				<step title="Receiving a Cancer Diagonosis" dimensions="Occupational">
				
					<personnel role="Doctor" audio="SampleAudio"></personnel>
					<personnel role="Therapist" audio="SampleAudio"></personnel>
					<personnel role="Instructor" audio="SampleAudio2"></personnel>
					<personnel role="Lorem A" audio="SampleAudio2"></personnel>
					<personnel role="Lorem B" audio="SampleAudio"></personnel>
	
				</step>
				
				<step title="Increasing Depression" dimensions="Social, Spiritual">
				
					<personnel role="Doctor" audio="SampleAudio2"></personnel>
					<personnel role="Therapist" audio="SampleAudio"></personnel>
					<personnel role="Instructor" audio="SampleAudio2"></personnel>
					<personnel role="Lorem A" audio="SampleAudio2"></personnel>
					<personnel role="Lorem B" audio="SampleAudio2"></personnel>
	
				</step>
	
				<step title="Team Meeting" dimensions="Environmental">
				
					<personnel role="Lorem B" audio="SampleAudio2"></personnel>
					<personnel role="Lorem C" audio="SampleAudio2"></personnel>
					<personnel role="Lorem F" audio="SampleAudio2"></personnel>
					<personnel role="Doctor" audio="SampleAudio"></personnel>
	
				</step>
				
				<step title="Living with Multiple Chronic Illnesses" dimensions="Financial, Social, Physical">
				
					<personnel role="Lorem B" audio="SampleAudio2"></personnel>
					<personnel role="Lorem C" audio="SampleAudio"></personnel>
					<personnel role="Instructor" audio="SampleAudio2"></personnel>
					<personnel role="Lorem A" audio="SampleAudio"></personnel>
					
				</step>
			</touchstone_steps>


		</view>
		
		<!-- Screen 2 (Bubbles) -->
		<view id="view_4" title="Bubbles">
			
			<step id="week_1">
				<video id="video_1">M01_S02V02_D</video>
			</step>
		
		</view>
		
	</module>

</config>