<?xml version="1.0"?>
<config>

	<settings>
		<setting id="audioFolder" value="content/audio/" />
		<setting id="audioExtension" value=".mp3" />
		
		<setting id="videoFolder" value="content/video/" />
		<setting id="videoExtension" value=".mp4" />
		
		<setting id="developerMode" value="true" />
	</settings>



	<!-- TOUCHSTONE -->
	<module id="touchstone" title="Touchstone">
	
		<!-- Screen 1 -->
		<view id="view_1" title="Intro">
			
			<text id="text_1">Welcome to Touchstone</text>
			<text id="text_2">Mission</text>
			<text id="text_3">Touchstone Mental Health's mission is to "Inspire Hope, Healing and Well-Being"</text>
			<text id="text_4">Vision</text>
			<text id="text_5">Touchstone Mental Health is a nonprofit center of excellence providing quality programs to assure people living with mental illness can enjoy the highest quality of life. We  build on our history of innovation to deepen, grow and sustain our programs to meet existing and emerging needs.</text>
			
			<video id="video_1">M01_S02V01_D</video>
			
			<tip id="tip_1">Click step one in the right hand column. Make sure your audio player is working.</tip>
			
		</view>
		
		<view id="view_2" title="Touchstone Steps and Bubbles">
			
			<text id="text_1">Jenna's Story</text>
			
		</view>
		
		<view id="view_3" title="Intro 3">
			
			<text id="text_1">Touchstone Mental Health 3</text>
			<text id="text_2">in voluptate velit esse cillum dolore eu fugiat nu</text>
			
		</view>
		
		
		<!-- Screen 2 (Bubbles) -->
		<view id="view_4" title="Bubbles">
			
			<step id="week_1">
				<video id="video_1">M01_S02V02_D</video>
			</step>
		
		</view>
		
	</module>

</config>